<mat-accordion>
    <mat-expansion-panel *ngFor = "let worker of workers">
      <mat-expansion-panel-header>
          <mat-panel-title>
             {{worker.username}}
          </mat-panel-title>
      </mat-expansion-panel-header>
      {{worker.name}} lives in {{worker.city}}

      <div class = "spacer">
      <button class="whitelink" mat-raised-button color="primary" (click)=deleteWorker(worker.id)>
        Delete Worker
       </button>
       <button class="whitelink" mat-raised-button color="primary" [routerLink]="'/workerform/' + worker.id">
        Edit Worker
        </button>
      </div>


    </mat-expansion-panel>
  </mat-accordion>