<h4>Add Worker</h4>
<div class="container mt-3">
<form #addWorker="ngForm"(ngSubmit)="onSubmit()">
    <div class="form-group">
        <label>Username</label>
        <input class="form-control" [(ngModel)]="username" name="username"> 
    </div>
    <div class="form-group">
        <label>Name</label>
        <input class="form-control" [(ngModel)]="name" name="name"> 
    </div>
    <div class="form-group">
        <label>City</label>
        <input class="form-control" [(ngModel)]="city" name="city"> 
    </div>
        <button mat-raised-button color="primary" [disabled]>{{buttonText}}</button>
    </form>
</div>